schemas/dynamics365ce-xsd/Entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >
  <xs:include schemaLocation="CustomizationsSolution.xsd" />
  <xs:element
      name="Entity"
      type="EntitiesEntityType"
      />
  <xs:complexType name="EntitiesEntityType">
    <xs:all>
      <xs:element
          name="Name"
          minOccurs="1"
          maxOccurs="1"
          >
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="EntityNameType">
              <xs:attribute
                  name="OriginalName"
                  type="xs:string"
                  use="required"
                  />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element
          name="ObjectTypeCode"
          type="ObjectTypeCodeType"
          minOccurs="0"
          maxOccurs="1"
          />
      <xs:element
          name="EntityInfo"
          type="EntityInfoType"
          minOccurs="0"
          maxOccurs="1"
          />
      <xs:element
          name="FormXml"
          minOccurs="0"
          maxOccurs="1"
          >
        <xs:complexType>
          <xs:sequence>
            <xs:element
                name="forms"
                type="SystemFormsType"
                minOccurs="0"
                maxOccurs="unbounded"
                ></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element
          name="SavedQueries"
          minOccurs="0"
          maxOccurs="1"
      >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="savedqueries" type="SavedQueriesSavedQueriesType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element
          name="Visualizations"
          type="VisualizationsType"
          minOccurs="0"
          maxOccurs="1"
          />
      <xs:element
          name="RibbonDiffXml"
          type="RibbonEntityDiffXmlType"
          minOccurs="0"
          maxOccurs="1"
          />
      <xs:element
          name="Icons"
          type="IconsType"
          minOccurs="0"
          maxOccurs="1"
          />
      <xs:element
          name="Strings"
          type="StringsType"
          minOccurs="0"
          maxOccurs="1"
          />
      <xs:element
          name="HierarchyRules"
          type="HierarchyRulesType"
          minOccurs="0"
          maxOccurs="1"
          />
      <xs:element
          name="CustomControlDefaultConfigs"
          type="CustomControlDefaultConfigsType"
          minOccurs="0"
          maxOccurs="1"
          />
      <xs:element
          name="indexes"
          type="indexesType"
          minOccurs="0"
          maxOccurs="1"
          />
    </xs:all>
  </xs:complexType>
</xs:schema>
